html, body, #root { height: 100%; margin: 0; padding: 0; width: 100%; height: 100%; background: transparent !important;}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
	background: transparent;
  margin: 0;
  border-radius: 16px;
  overflow: hidden;
  user-select: none;
}

.mainWindow {
	background: #2a2a2a;
	border-radius: 12px;
	z-index: 1;
	user-select: none;
}

.row {
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.noteItem {
	display: block;
	width: 100%;
	cursor: pointer;
	user-select: none;
	transition: background 100ms ease, color 100ms ease, padding 100ms ease;
	border-radius: 8px;
	padding: 0px;
	color: #bbb;
}

.titleBar {
	border-bottom: 1px solid #333333;
	position: absolute;
	top: 0;
	width: 100%;
	background: rgba(54, 54, 54, 0.533);
	height: 48px;
	user-select: none;
}

.noteItem:hover {
	background: #333333;
	border-radius: 8px;
	padding: 2px;
	color: #eee;
	transition: padding 100ms ease, color 100ms ease, background 100ms ease; 
}

.noteItem:active {
	transform: scale(0.97);
}

.noteItem.selected {
	background: rgba(86, 86, 86, 0.646);
	color: #eee;
	border: 1px solid rgba(54, 54, 54, 0.533);
}

.noteItem:focus-visible {
	outline: 1px solid #3b82f6;
	outline-offset: 1px;
}

.mainCard {
	border-radius: 8px;
	padding: 8px;
	overflow: auto;
	height: 100vh;
}

.noteCard {
	margin-top: 48px;
}

button {
	border-radius: 8px;
	padding: 4px;
	color: #bbbbbb6b;
	border: none;
	background: none;
	max-height: 24px;
	cursor: pointer;
	transition: background 120ms ease;
	user-select: none;
	border: 1px solid #8f8f8f56;
}

button:hover {
	background: #5b6699;
	max-height: 26px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
	margin-bottom: 2px;
	color: #eee;
	border: none;
}

button:active {
	transform: scale(0.92);
	background: #3d4466;
}

button:focus-visible {
	outline: 1px solid #3b82f6;
	outline-offset: 1px;
}

.noteSearch {
	width: 100%;
	font-size: 14px;
	max-height: 24px;
	border-radius: 12px;
	color: #bbb;
	border: none;
	padding: 4px;
	background: none;
	border: 1px solid #333333;
}

.noteSearch:focus-visible {
	background: #333333;
	color: #eee;
	outline: 1px solid #333333;
	outline-offset: 1px;
	transform: scale(1.03);
	padding: 8px;
}

.sideBarToggle  {
	width: 12px;
	height: 6px;
	position: absolute;
	margin-top: 12px;
	z-index: 4;
	border-radius: 8px;
	transition: margin-left 200ms ease;

}

.floatingWindow {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	color: #eee;
	font-family: Inter, system-ui, sans-serif;
	border-radius: 8px;
	-webkit-app-region: drag;
}

.floatingWindow textarea {
	background: #000;
}

aside {
	position: absolute;
	padding: 8px;
	top: 0;
	bottom: 0;
	width: 240px;
	background: rgba(0, 0, 0, 0.3);
	padding: 8px;
	overflow-y: auto;
	border-radius: 8px;
	font-size: 14px;
	z-index: 2;
}

input {
	background: none;
	color: #bbb;
	font-size: 24px;
	border-radius: 8px;
	border: none;
}

input:focus-visible {
	outline: none;
}

textarea {
	background: none;
	color: #bbb;
	font-size: 14px;
	border-radius: 8px;
	border: none;
}

textarea:focus-visible {
	outline: none;
}

.trafficLightsContainer {
	position: absolute;
	width: 64px;
	padding: 10px;
	top: 0;
	left: 0;
	margin-left: 5px;
	margin-top: 10px;
	z-index: 5;
	gap: 6px;
	display: flex;
}

.trafficLightsContainer button:hover {
	transform: 1.20;
}

.redLight {
	border-radius: 24px;
	padding: 5px;
	background: rgba(54, 54, 54, 0.533);
}
.redLight:hover {
	box-shadow: none;
}
.trafficLightsContainer:hover .redLight {
	background: red;
	box-shadow: none;
}
.yellowLight {
	padding: 5px;
	border-radius: 24px;
	background: rgba(54, 54, 54, 0.533);
}
.yellowLight:hover {
	box-shadow: none;
}

.trafficLightsContainer:hover .yellowLight {
	background: yellow;
	box-shadow: none;
}

.greenLight {
	padding: 5px;
	border-radius: 24px;
	background: rgba(54, 54, 54, 0.533);
}
.greenLight:hover {
	box-shadow: none;
}

.trafficLightsContainer:hover .greenLight {
	background: green;
	box-shadow: none;
}